body{
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  margin: 0 auto;
  padding: 2rem;
}

/* When the width is less than 1000px, then the root is centered vertically with the screen */
@media screen and (max-width: 1000px){
  #root{
    position: absolute;
    top: 50%;

    width: 100%;

    transform: translateY(-50%);
  }
  .gridContainer{
    width: 100%;
  }

  .restartButton{
    position: static;
    margin-top: 20px;
  }
}



